<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_713tI3zLTWWYJhwob46iUbt0hAQ7SN4</string>
	<key>GCM_SENDER_ID</key>
	<string>818803830691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzWiz</string>
	<key>PROJECT_ID</key>
	<string>quizzwiz-f97d2</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzwiz-f97d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818803830691:ios:40d7dd739e66794cd9f416</string>
</dict>
</plist>